* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* max-width: 1240px; */
}

/* header-background color */
header {
    background-color: beige;
}

.header {
    width: 80%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.heading-section {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.heading-title {
    text-align: center;
    font-size: 64px;
    margin-top: 30px;
}

.heading-description {
    color: grey;
    margin-top: 30px;
}

/* button primary */
.btn-primary {
    background-color: goldenrod;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;

}

.header img {
    width: 100%;
    margin: 30px 0;
}

main {
    width: 80%;
    margin: 0 auto;
    
}

/* section 1 style */
.section-1 {
    display: flex;
    column-gap: 45px;
    padding: 40px 0;
}


.s1-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 60px;
}

.s1-content {
    display: flex;
    align-items: center;
}


/* section 1 title style */
.section1-title {
    font-size: 45px;
}

.span1 {
    font-weight: 400;
    color: #727272;
}

.span2 {
    color: 131313;
}

.span3 {
    color: goldenrod;
}

.section1-description {
    margin-top: 30px;
    line-height: 28px;
}

/* section 2 styling */

.section-2 {
    display: flex;
    column-gap: 10px;
}

/* left part of the section 2*/
.s2-content {
    width: 40%;
    padding-left: 50px;

}

.s2-title {
    font-weight: 700;
    font-size: 45px;
    border-left: 8px solid goldenrod;
    padding-left: 15px;
    margin-bottom: 25px;
}

.s2-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
}

.box {
    width: 90%;
    height: 150px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 30px;
}

.box-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.box-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* right part of the section 2 */
.s2-image {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

/* placing button on image */
.image-container {
    text-align: right;
    width: 80%;
    position: relative;
}

.s2-image img {
    width: 100%;
}

/* section 2 button placement */
.btn-position {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 75%;
    right: 85%;

}


/* section 3 styling */
.section-3 {
    margin-top: 80px;
}

.s3-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 25px;
}

.s3-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 100px;
}

.packet-container {

    display: flex;
    justify-content: space-between;
    column-gap: 200px;
    margin-bottom: 100px;
}

.packets {
    border: 2px solid goldenrod;
    border-radius: 5px;
    padding: 50px 0;
    width: 100%;
    height: auto;
    text-align: center;
    transition: transform 0.8s;

}

.packets:hover{
    border: 2px solid red;
    transform: rotate(360deg) scale(1.2); 
}

.packet-ico {
    margin-bottom: 10px;
}

.packet-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.packet-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* section 4  */
.s4-content {
    text-align : center;

}

.s4-title{
    font-size:30px;
    margin-bottom: 10px;
}

.s4-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.s4-images{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.s4-img{
    filter: grayscale(100%);
}

/* bonus section  */
.bonus{
    text-align: center;
    margin: 100px 0;
    background-color: goldenrod;
    color: white;
    padding: 50px 0;
    border-radius: 10px;
}
.bonus-title{
    font-size: 30px;
    margin-bottom: 10px;
}
.bonus-description{
    font-weight: 400;
    font-size: 16px;
    
    margin-bottom: 40px;
}

input[type="text"], input[type="email"]{
    margin-bottom: 10px;
    padding:10px 20px;
    border-radius: 10px;
    width: 180px;
    border: 0;
}

input[type="submit"]{
    color: goldenrod;
    background-color: white;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 10px;
}
/* styling footer */
footer{
    width: 80%;
    margin: 0 auto;
    background-color: beige;
    padding: 50px 0;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
}


.footer-text{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}



/* responsive for mobile */

@media screen and (max-width:576px) {
    nav {
        display: block;
        text-align: center;
    }

    nav ul {
        display: block;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    .heading-title {
        font-size: 30px;
    }


    /* section 1 div flex in column */
    .section-1 {
        flex-direction: column;
        row-gap: 40px;
    }

    .s1-image{
        grid-template-columns: repeat(1, 1fr);
    }


    /* section 1 images responsive */
    .images-div {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0;
        justify-items: center;
    }

    .content-div {
        text-align: center;

    }

    /* section 2  */
    .section-2{
        flex-direction: column;
    }

    .s2-content{
        width: 100%;
        padding-left: 0;
    }

    /* section 2 lady image part */
    .s2-image{
        width:100%;
    }

    /* section 3 */

    .packet-container{
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    .packets{
        width:50%
    }

    .s4-images{
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
    }

    .s4-img{
        width: 100px;
    }


}